#errorName, #errorLastName, #errorEmail,
#errorAddress, #errorPassword, #errorPhone {
    display: none;
}

input {
    border: 2px solid currentcolor;
}

input:invalid {
    border: 2px dashed lightcoral;
}

input:invalid:focus {
    background-color: lightcoral;
}