#errorName, #errorLastName, #errorEmail,
#errorAddress, #errorPassword, #errorPhone {
    display: none;
}

input {
    border: 2px solid currentcolor;
}

input:invalid {
    border: 2px dashed lightcoral;
}

input:invalid:focus {
    background-color: lightcoral;
}

.card-checkout {
    height: auto;
}

@media (min-width: 576px) { 
    .card-checkout {
        height: auto;
    }
}

@media (min-width: 768px) { 
    .card-checkout {
        height: auto;
    }
}

@media (min-width: 992px) { 
    .card-checkout {
        height: 500px;
    }
}

@media (min-width: 1200px) { 
    .card-checkout {
        height: 550px;
    }
}

@media (min-width: 1400px) { 
    .card-checkout {
        height: 600px;
    }
}