/*////////////////////////////// MODAL FOTOS ////////////////////*/
.modal-foto {
	max-width: 800px;
}

/*////////////////////////////// BOTONES ////////////////////////*/
.btn-cards {
    width: 100%;
    min-height: 3rem;
}

.btn-cards:active {
    color: black !important;
    background-color: white !important;
    border: 2px solid black !important;
}

.btn-cards:hover {
    color: black !important;
    background-color: white !important;
    border: 2px solid black !important;
}

.botonhover:hover {
    color: black !important;
    background-color: white !important;
    border: 2px solid black !important;
}

.botonhover:active {
    color: black !important;
    background-color: white !important;
    border: 2px solid black !important;
}

/*////////////////////////////// CARDS //////////////////////////*/
.card {
    border-radius: 0.3125rem !important;
}

.card:hover {
    box-shadow: 0px 5px 5px lightgray !important;
}

.card-img:hover{
    box-shadow: 0px 5px 5px lightgray !important;
}

.my-cards {
    width: 20.5rem;
    margin: 20px;
}

/*////////////////////////////// CABECEROS SECTIONS /////////////*/
.header-type {
    width: 100%;
    padding: 0px;
    margin: 0;
    float: none;
    display: block;
    height: 100px;
    overflow: hidden;
}

.seccion {
    margin-top: 30px;
    margin-bottom: 10px;
}

@media (min-width: 576px) { 
    .seccion {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) { 
    .seccion {
        margin-top: 60px;
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) { 
    .seccion {
        margin-top: 70px;
        margin-bottom: 35px;
    }
}

@media (min-width: 1200px) { 
    .seccion {
        margin-top: 80px;
        margin-bottom: 40px;
    }
}


/*////////////////////////////// SECTIONS ///////////////////////*/

#stationery-img {
    object-position: 0px -40px;
}

#makeup-img {
    object-position: 0px -40px;
}

#oil-img {
    object-position: 0px -40px;
}

@media (min-width: 290px) { 
    #stationery-img { object-position: 0px -70px; }
    #makeup-img { object-position: 0px -65px; }
    #oil-img { object-position: 0px -50px; }
}

@media (min-width: 370px) { 
    #stationery-img { object-position: 0px -90px; }
    #makeup-img { object-position: 0px -70px; }
    #oil-img { object-position: 0px -65px; }
}

@media (min-width: 430px) { 
    #stationery-img { object-position: 0px -150px; }
    #makeup-img { object-position: 0px -100px; }
    #oil-img { object-position: 0px -90px; }
}

@media (min-width: 576px) { 
    #stationery-img { object-position: 0px -170px; }
    #makeup-img { object-position: 0px -150px; }
    #oil-img { object-position: 0px -200px; }
}

@media (min-width: 768px) { 
    #stationery-img { object-position: 0px -300px; }
    #makeup-img { object-position: 0px -200px; }
    #oil-img { object-position: 0px -250px; }
}

@media (min-width: 992px) { 
    #stationery-img { object-position: 0px -400px; }
    #makeup-img { object-position: 0px -250px; }
    #oil-img { object-position: 0px -350px; }
}

@media (min-width: 1200px) { 
    #stationery-img { object-position: 0px -490px; }
    #makeup-img { object-position: 0px -370px; }
    #oil-img { object-position: 0px -360px; }
}

@media (min-width: 1400px) { 
    #stationery-img { object-position: 0px -520px; }
    #makeup-img { object-position: 0px -350px; }
    #oil-img { object-position: 0px -450px; }
}

