.banner-text {
    font-size: 2rem;
}

.banner:hover{
box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) { 
    .banner-text {
        font-size: 3rem;
    }
}

@media (min-width: 768px) { 
    .banner-text {
        font-size: 4rem;
    }
}

@media (min-width: 992px) { 
    .banner-text {
        font-size: 5rem;
    }
}

@media (min-width: 1200px) { 
    .banner-text {
        font-size: 6rem;
    }
}

@media (min-width: 1400px) { 
    .banner-text {
        font-size: 7rem;
    }
}